torch==2.5.1
vllm==0.7.3
transformers==4.49.0
trl
tqdm
spacy
jsonlines
filelock
nltk
dataclasses
sacrebleu==2.4.0
rouge_score==0.1.2
einops==0.7.0
sentencepiece
deepspeed==0.12.6
peft==0.7.1
evaluate==0.4.1
tokenizers
tensorboard==2.14.0
tiktoken
faiss-cpu
backoff
